* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  outline: none;
}

.ui-view-container {
  background-color: #eee;
}

i[class^="fi-"] {
  font-size: 24px;
  padding: 3px;
  vertical-align: middle;
}

.fs16 {
  font-size: 16px;
}

.grey-color {
  color: #ccc;
}

.grey-bg {
  background-color: #fafafa;
}
