<div class="movie" ng-init="getMovieData()" ng-style="{'background-image':'url(' + movie.backdrop + ')'}">
  <div class="overlay">
  </div>
  <div class="loader" ng-hide="done">
    <div class="la-ball-triangle-path">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="wrapper" ng-show="done">
    <div class="poster">
      <img ng-src="{~movie.poster~}" alt="" />
    </div>
    <div class="data">
      <h1>{~movie.title~} <i ng-if="movie.year">({~movie.year~})</i></h1>
      <i class="fi-quote" ng-if="movie.tagline !== null && movie.tagline !== ''"></i><h2 ng-if="movie.tagline !== null && movie.tagline !== ''">{~movie.tagline~}</h2>
      <p class="overview">
        {~movie.overview~}
      </p>
      <div class="imdb">
        <img src="/static/imdb.png" alt="" />
        <p>
          {~movie.imdb~}
        </p>
      </div>
    </div>
  </div>
</div>
