<!DOCTYPE html>
<html ng-app="PopTheCorn" ng-controller="MainController">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title ng-bind="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body ng-cloak class="ng-cloak">
    <div ng-include src="'/static/views/header.html'"></div>
    <div class="ui-view-container">
      <div ui-view>Loading...</div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/config.js"></script>
    <script src="/static/scripts/services.js"></script>
    <script src="/static/scripts/controllers.js"></script>
  </body>
</html>
