<!DOCTYPE html>
<html ng-app="PopTheCorn" ng-controller="MainController">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title ng-bind="title"></title>
  </head>
  <body>
    <div class="">
      <div ui-view>Loading...</div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/config.js"></script>
    <script src="/static/scripts/services.js"></script>
    <script src="/static/scripts/controllers.js"></script>
  </body>
</html>
